@model FPTEduSystem.ViewModel.AssignDepartmentViewModel
@{
	ViewBag.Title = "AssignDepartment";
}

<h2>Assign Department</h2>
@Html.ActionLink("Back", "DepartmentManagement", "Staff", null, new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink("Assign Department Trainer", "AssignTrainerDepartment", new { @id = Model.Department.Id }, new { @class = "btn btn-info" })
<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">User Name</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.TrainerDepartment)
		{
			<tr>
				<td>@item.Trainer.Id</td>
				<td>@item.Trainer.UserName</td>
				<td>@item.Trainer.Name</td>
				<td>@item.Trainer.Email</td>
				<td>
					@Html.ActionLink("Remove", "RemoveTrainerDepartment", "Staff",
													new { id = item.Id },
													new { @class = "btn btn-danger" })
					
							</td>
			</tr>
		}

	</tbody>
</table>
