@model FPTEduSystem.ViewModel.AssignViewModel
@{
	ViewBag.Title = "AssignTrainer";
}

<h2>Assign Trainer</h2>
@Html.ActionLink("Back", "Assign", "Staff", new { @id = Model.Course.Id }, new { @class = "btn btn-primary" })
<br />
<br />
<div class="form-group">
	@using (Html.BeginForm("AssignTrainer", "Staff", "POST"))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary("", new { @class = "text-danger" })
		<div class="form-group">
			@Html.Label("Trainer", new { @class = "text-default" })
			@Html.DropDownListFor(m => m.TrainerId, new SelectList(Model.Trainers, "Id", "Name"), new { @class = "btn btn-info dropdown-toggle" })
			@Html.ValidationMessageFor(m => m.TrainerId, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.HiddenFor(t => t.Course.Id)
		</div>
		<br />
		<input type="submit" class="btn btn-success" value="Assign" />
	}
</div>