@model FPTEduSystem.Models.Department
@{
	ViewBag.Title = "CreateDepartment";
}

<h2>CreateDepartment</h2>
@Html.ActionLink("Back", "DepartmentManagement", "Staff", null, new { @class = "btn btn-primary" })
<br />
<br />

@using (Html.BeginForm("CreateDepartment", "Staff", "POST"))
{
	<div class="col-md-14">
		<div class="form-group">
			@Html.Label("Department Name:", new { @class = "text-default" })
			@Html.TextBoxFor(m => m.DepartmentName, new { @placeholder = "Enter The Department Name", @class = "form-default" })
			@Html.Label("Department Name:", new { @class = "text-default" })
			@Html.TextBoxFor(m => m.Detail, new { @placeholder = "Enter The Department Name", @class = "form-default" })
			@Html.ValidationMessageFor(model => model.Detail, " *required", new { @class = "text-danger" })
			@Html.ValidationMessageFor(model => model.Detail, " *required", new { @class = "text-danger" })
			<br />
			<br />
			<input type="submit" class="btn btn-success" value="Create" />
		</div>
		<br />

	</div>
}

