@model FPTEduSystem.Models.Department
@{
	ViewBag.Title = "DetailDepartment";
}

<h2>DetailDepartment</h2>

@Html.ActionLink("Back", "DepartmnetManagement", "Staff", null, new { @class = "btn btn-primary" })
<br />
<br />
<div class="panel panel-info">
	<div class="panel-heading">
		@Html.Label("Name: ")
		<h3 class="panel-title">@Model.DepartmentName</h3>
	</div>
	<div class="panel-body">
		@Html.Label("Detail: ")
		@Model.Detail
	</div>
	
</div>

